@font-face {
    font-family: 'SF Pro Text';
    src: url('../assets/fonts/SFProText-Regular.woff2') format('woff2'),
        url('../assets/fonts/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../assets/fonts/SFProText-Bold.woff2') format('woff2'),
        url('../assets/fonts/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../assets/fonts/SFProText-Light.woff2') format('woff2'),
        url('../assets/fonts/SFProText-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;
    margin-top: 67px;
    overflow-x: hidden;
}

#navbarSupportedContent .row{
    width: 100%;
}

#navbarSupportedContent .row div[class="col-*"]{
    text-align: right;
}

#navbarSupportedContent  .main-menu {    
    width: 80%;
}

#navbarSupportedContent  .cta{
    margin-left: 9px;
}

@media only screen and (max-width: 576px) { 
    #navbarSupportedContent  .main-menu {    
        width: auto;
        margin-top: 10px;
    }
    #navbarSupportedContent  .cta {
        margin: 0;
        text-align: center;
    }

 }

.buisnessnav {
    font-size: 0.875rem;
    width: auto;
    font-weight: bold;
}
.trynow {
    background-color: #ED1C24;
    color: white;
    min-width: 100px;
    width: 100%;
}
.Login {
    border-color: #ED1C24;
    margin-right: 20px;
    min-width: 100px;
    width: 100%;
    color: #ED1C24;
}
.getstart{
    background-color: #323B49;
    border-bottom: 3px solid #8c8b8b;
}


.culturemoney{
    color:#ED1C24;
}
.btn-success {
    background-color: #40B433;
}

.tc{
    font-size: 10px;
}
.tc img{
    height: 6px;
}
.green2{
    color: #40B433;
    font-size: 18px;
}
.red1{
    color: #ED1C24;
}
.color1{
    background-color:#F7F7F7;
}
.imoji img {
    height: 68px;
}
.loginbutton {
    background-color: #ED1C24;
    border-color: #ED1C24;
    color: white;
}
.enteremail{
   width: 68% !important;
}


.jumbotron{
    background-image: url(../assets/Group11961.png);
}


.learnbtns {
    background-color: #ED1C24;
    border:#ED1C24;
}

.learnbtns:hover{
    background-color: #40B433;
    border:#40B433;
}

h2 span{
    font-size: 2.5rem !important;
}

h2 span:nth-child(n+2){
    font-size: 2.1rem !important;
}
h2{
    font-size: 2.1rem;
}



/* footer */
footer{
    background-color: #323B49;
    color: #fff;
    padding-bottom: 20px;
}

footer h6
{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

footer ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

footer ul li a {
    color: #fff;
    font-size: 12px;
}

footer ul li a:hover {
    color: #fff;
}

.socialm  {
    font-size: 11px;
}

.socialm a {
    color: #fff;
}
