@font-face {
    font-family: 'SF Pro Text';
    src: url('../assets/fonts/SFProText-Regular.woff2') format('woff2'),
        url('../assets/fonts/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../assets/fonts/SFProText-Bold.woff2') format('woff2'),
        url('../assets/fonts/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../assets/fonts/SFProText-Light.woff2') format('woff2'),
        url('../assets/fonts/SFProText-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;
}



.buisnessnav {
    font-size: 0.875rem;
    width: auto;
    font-weight: bold;
}
.trynow {
    background-color: #ED1C24;
    color: white;
    min-width: 100px;
    width: 100%;
}
.Login {
    border-color: #ED1C24;
    margin-right: 20px;
    min-width: 100px;
    width: 100%;
    color: #ED1C24;
}
.getstart{
    background-color: #323B49;
    border-bottom: 3px solid #8c8b8b;
}
.endsetion{
    background-color: #323B49;
}
.culturemoney{
    color:#ED1C24;
}
.btn-success {
    background-color: #40B433;
}

.tc{
    font-size: 10px;
}
.tc img{
    height: 6px;
}
.green2{
    color: #40B433;
    font-size: 18px;
}
.red1{
    color: #ED1C24;
}
.color1{
    background-color:#F7F7F7;
}
.imoji img {
    height: 68px;
}
.loginbutton {
    background-color: #ED1C24;
    border-radius: 13px;
    border-color: #ED1C24;
    color: white;
}
.enteremail{
    border-radius: 13px;
}
.socialm img {
    height: 18px;
}
.socialm p {
    font-size: 12px;
}
.endpage{
    color: white;
    font-size: 10px;
    margin-top: 40px;
}
.jumbotron{
    background-image: url(../assets/Group11961.png);
}
.apps {
    height: 40px;
}
.apps1{
    height: 40px;
}
.learnbtns {
    background-color: #ED1C24;
    border:#ED1C24;
}

h2 span{
    font-size: 2.5rem !important;
}

h2 span:nth-child(n+2){
    font-size: 2.1rem !important;
}
h2{
    font-size: 2.1rem;
}
p{
    font-size: 14px;
}
